html{height: 100%;background: #f2f2f2;}
body{width: 15rem;margin: 0 auto;background:#f2f2f2;position:relative;color:#888;}

/*浮动/清除浮动*/
.clearfix::after { content:""; display:block; height:0;width: 0; visibility:hidden; clear:both; }
.clearfix{ *zoom:1; }
.fl{float:left;}
.fr{float:right;}

/*字体大小*/
.font_12{font-size:0.24rem;}
.font_14{font-size:0.28rem;}
.font_16{font-size:0.32rem;}
.font_18{font-size:0.36rem;}
.font_20{font-size:0.4rem;}
.font_22{font-size:0.44rem;}
.font_24{font-size:0.48rem;}
.font_26{font-size:0.52rem;}
.font_28{font-size:0.56rem;}
.font_30{font-size:0.6rem;}
.font_32{font-size:0.64rem;}
.font_34{font-size:0.68rem;}
.font_36{font-size:0.72rem;}
.font_38{font-size:0.76rem;}
.font_40{font-size:0.8rem;}
.font_42{font-size:0.84rem;}
.font_44{font-size:0.88rem;}
.font_46{font-size:0.92rem;}
.font_48{font-size:0.96rem;}
.font_50{font-size:1rem;}

/*字体颜色*/
.fc_fff{color:#fff;}
.fc_000{color:#000;}
.fc_111{color:#111;}
.fc_666{color:#666;}
.fc_888{color:#888;}
.fc_999{color:#999;}

/*背景颜色*/
.bg_fff{background: #fff;}
.bg_000{background: #000;}
.bg_111{background: #111;}
.bg_666{background: #666;}
.bg_888{background: #888;}
.bg_999{background: #999;}


/*头部共同样式*/
.h_header{padding: 0 0.6rem;background: #2086eb;height: 1.76rem;width: 15rem;box-sizing: border-box; margin: 0 auto;}
.h_pos{position: fixed;left:0;top:0;right: 0;z-index: 99999;}
.h_bead{line-height: 1.76rem;text-align: center;color:#fff;}
.h_a_left{width: 2rem;text-align: left;color:#fff;}
.h_p_center{width:calc(100% - 4rem);color:#fff;}
.h_a_right{width: 2rem;text-align: right;color:#fff;}

/*主体*/
.s_section{margin-top: 1.76rem;}

/*底部*/
.f_footer{width: 15rem;height: auto;text-align: center;position: fixed;bottom: 0;z-index: 99999;background: #fff;padding: 0.2rem 0;}
.f_ul li{width: 33.33%;}
.f_ul_li_span{display: block;}
.f_ul_img{display: block;margin: 0 auto;}
/*底部切换样式*/
.pic{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); -o-filter: grayscale(100%);
    filter: gray;
    -webkit-filter: grayscale(1);
}

/*窗口*/
.t_dialog{width: 15rem;height: 100%;background: rgba(0,0,0,0.5);position: fixed;left:0;top:0;z-index: 999999}
.t_box{background: #fff;width: 10rem;position: fixed;right: 0;left:0;top:30%;margin: 0 auto;}
.hiddle{display: none;}




